*{
    margin: 0px;
}
.main{
    width: 2000px;
    height: 2000px;
    color: aqua;
}
.contenedor{
    width: 100%;
    height: 100%;
    background-color: beige;
    display:flex;
}
.cajas{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 20px;
}